.decore {
    color: #444;
    background: #f0f0f0;
    border: 1px solid #efefef;
    box-shadow: 0 3px 6px rgba(0,0,0,0.2);
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 10px;
    font-family: 'Courier New', Courier, monospace;
    cursor: pointer;
    &:hover {
        color: #000;
    }
    &.active {
        color: rgb(0, 116, 170);
    }
}